<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-12 col-md-6 col-xl-4 c">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<%= link_to "Add your own mixture", new_cocktail_path, class: "btn btn-primary m-2" %>
</div>
