
body {
  background-image: asset-url('wood_base.jpeg');
  background-size: cover;
}

.cocktail-infos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: asset-url('tableau_ardoise.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin:2rem;
}

.ingredients-container {
  height: 500px;
  width: 560px;
  text-align: center;
}

.glass-img {
  background-image: asset-url('BGC_inside.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  top: auto;
  left: auto;
  height: 500px;
  width: 430px;
}

.ingredients-list {
  height: 340px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;


}



.dose-form {
  padding: 2rem;
  background-color: $yellow;
}
