  a {
   &:hover {
    text-decoration: none;
   }
  }

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  flex-grow: 1;
  overflow: hidden;
  background: #f6f6f6;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  width: 450px;
}

// .card-product img {
//   height: 100%;
//   width: 360px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 12px;
//   font-weight: bold;
//   margin: 0;
// }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  // opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  align-items: center;
  a {
  color: $orange;
  font-size: 24px;
  }
}
