.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  padding-left: 2rem;
}

.nav-link {
  border-radius: 50px;
  background-color: $orange;
}
